# Файл с секретными данными
.env

# Любые другие видеофайлы
*.mp4

# Личные инструменты разработчика
update_github.bat
docker_run*.bat

# Файл с секретными данными
**/.env

# Папки с результатами и конфигурацией
video_*/
config_*/

# Кэш Python
__pycache__/

# Файлы отладки
login_error.png